.popupMessage{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    border-radius: 25px;
    position:relative;
    width: 90%;
    max-width: 640px;
    height: 400px;
    background-color: #fec641ff;
    box-shadow: 0 0 5px 5px #fec641ff;
    text-shadow: 0 0 4px white;
    color: #77ade8ff
}
.submit-msg{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: #e40962;
    box-shadow: 0 0 5px 5px #e40962;
    font-family: 'Modak', cursive;
}
.close-btn {
    font-family: 'Modak', cursive;
    background-color: #e40962;
    box-shadow: 0 0 2px 5px #e40962;
}

.textarea{
    text-align: center;
    margin-top: 25px;
    box-shadow: 0 0 5px 5px white;
    border-color: white;
    border-radius: 6px;
    width: 90%;
    height: 250px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.popup-inner .close-btn{
    position:absolute;
    top: 16px;
    right:16px
}