header {
    background-image: linear-gradient(#FEC641ff, #77ADE8ff );
}

#logoplanet {
background-repeat: no-repeat;
}
  
.navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkContainer {
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navImg {
    list-style-type: none;
    max-width: 80px;
    padding: 0 20px;
}

@media screen and (max-width: 765px) {
    header {
        background-color: #20639b;
        background-repeat: no-repeat;
    }
    
    #logoplanet {
    background-repeat: no-repeat;
    }
    
    .nav {
        list-style-type: none;
    }
      
    /* .navLinks {
        
    } */
    
    .linkContainer {
        display: flex;
        padding: 5px 5px;
        justify-content: space-between;
    }
}