@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
:root {
  --primary: #233e37;
  --secondary: #0c82ba;
  --tertiary: #e40962;
  --light: #fafafa;
  --dark: #27322cea;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  opacity: 0, 5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: cover;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 0px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  float: right;
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1px 1px;
  color: white;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  float: right;
  color: black;
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-1:hover {
  background-color: rgba(255, 228, 196, 0.979);
  color: black;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.error-text {
  color: var(--error);
}

h1 {
  background-repeat: repeat-y;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/toystory.jpg');
  background-attachment: fixed;
  width: 100%;
  height: auto;
  filter: blur(0.2px);
}

.messengerContainer {
  display: flex;
  padding: 20px;
  background-color: #77ade8ff;
  flex-wrap: wrap-reverse;
}

.messenger {
  height: auto;
  background-color: #77ade8ff;
  padding-right: 20px;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 95%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px white;
}

.chatBox {
  flex: 5.5;
  height: 80vh;
  margin-bottom: 30px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 10px white;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(254, 197, 65);
  box-shadow: 0 0 5px 5px #fec641ff;
  color: white;
}

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  display: flex;
  justify-content: space-around;
  font-family: 'Modak', cursive;
  color: #e40962;
  text-shadow: 0 0 2px #77ade8ff;
  font-size: 16px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Modak', cursive;
  color: #e40962;
  text-shadow: 0 0 2px #77ade8ff;
  font-size: 16px;
}

.loginBackground {
  background-color: #77ade8ff;
  display: flex;
  justify-content: center;
  height: 59.4vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/sun-cloud.png');
  background-color: #77ade8ff;
  width: 100%;
  max-width: 600px;
}

.loginHeader {
  font-family: 'Modak', cursive;
  color: #e40962;
  text-shadow: 0 0 4px #77ade8ff;
  margin-top: 40px;
}

.signupInfo {
  margin-top: 25px;
}

.cart h2 {
  font-family: 'Modak', cursive;
  color: #fd9e16;
  text-shadow: 3px 3px 3px black;
  margin-bottom: 35px;
}

.cart img {
  width: 70px;
  margin: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}

.addPost {
  margin: 30px 0;
}

.checkoutContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #fec641ff;
  margin: 40px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px 10px #fec641ff;
}

.checkoutDiv {
  max-width: 400px;
  width: 90%;
}

.detailDiv {
  background-color: #77ade8ff;
  padding: 10%;
  width: 100%;
}

.imgPriceDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details {
  background-color: #fec641ff;
  box-shadow: 0 0 5px 5px #fec641ff;
  border-radius: 10px;
  font-family: 'Modak', cursive;
  color: #0c82ba;
  text-shadow: 0 0 4px white;
  margin: 15px 0;
  padding: 5px;
}

.backToProducts {
  margin-top: 25px;
}

.details img {
  max-width: 30%;
  border-radius: 10px;
}

.detailDescription {
  font-size: 20px;
}

.detailsImg {
  background-color: #fec641ff;
  box-shadow: 0 0 5px 5px #fec641ff;
  border-radius: 10px;
  width: 65%;
}

.priceDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: 20px;
}

.orderTitle {
  font-family: 'Modak', cursive;
  color: #e40962;
  text-shadow: 3px 3px 3px white;
  font-size: 35px;
  text-align: center;
  margin: 10px 0;
}

.totalOrderDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 650px;
  background-color: #fec641ff;
  box-shadow: 0 0 5px 5px #fec641ff;
  border-radius: 10px;
}

.orderProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
}

.orderCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 5px white;
  border-radius: 10px;
  width: 200px;
  max-width: 200px;
}

.orderCard a {
  text-align: center;
}

.orderCard div {
  align-self: center;
}
h3,
h2 {
  text-align: center;
  margin: 15px;
  font-family: 'Modak', cursive;
  color: #e40962;
  width: 150px;
  /* flex-direction: column;
  justify-content: center; */
  margin: 20px;
  border-radius: 10px;
  width: 200px;
  max-width: 200px;
}
h3 {
  font-size: 40px;
  text-align: center;
  width: 50%;
}
#btnprofile {
  text-align: center;
  
}
