.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
}

.messageText {
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    background-color: #20639b;
    box-shadow: 0 0 5px 5px #20639b;
    color: white;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: lightgray;
    color: black;
    box-shadow: 0 0 5px 5px lightgray;
}