input {
  margin-top: 50px;
  background-color: rgba(173, 216, 230, 0.288);
  border-radius: 10px;
  background-color: white;
  text-shadow: 0 0 4px white;
}

#postbutton {
  padding: 10px;
  margin-bottom: 300px;
  display: inline-block;
  width: calc(20% - 7px);
}
#postbutton a:hover {
  color: 3px rgb(237, 100, 237);
}
#postform {
  height: 500px;
  font-family: 'Modak', cursive;
  text-align: center;
  box-shadow: 0 0 6px 6px white;
  border-radius: 20px;

}