.categoryNav {
  margin: 0 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 18px 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content {
  border-radius: 15px;
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #20639b;
  padding: 5px;
  grid-auto-flow: column;
}
.dropdown {
  overflow: hidden;
}
.dropbtn span {
  margin-right: 20px;
}

.dropbtn {
  padding: 12px 14px;
  background-color: #20639b;
}

.dropdownBtn {
  margin: 8px 4px;
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
