.productContainer {
    margin: 0 5px;
    max-width: 1000px;
    align-items: center;
}

@media screen and (max-width: 765px) {
    .productContainer {
        margin: 0 5px;
        max-width: 300px;
        align-items: center;
    }
}