/* @import url('https://fonts.googleapis.com/css2?family=Modak&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;1,700&family=Fruktur&family=Red+Hat+Mono:ital,wght@1,300&display=swap'); */

.cartContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 40px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px 10px white;
}

.cartName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin: 5px, 0;
}

.cartQty {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin: 5px, 0;
  padding: 5px;
}

.cartQty input {
  color: black;
  padding: 2px;
}
