.card {
    /* border-radius: 5px; */
    width: 200px;
    text-align: center;
}

.cardBox {
background-color: white;
margin: 20px;
border-radius: 10%;
background-color: white;
box-shadow: 0 0 5px 10px white;
opacity: 0.95;
}

.cardBox:hover {
  opacity: 1.0;
  transition: 2s;
}

.cardBox img {
  border-radius: 10%;
}

@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
}