.card {
    /* border-radius: 5px; */
    width: 23%;
    text-align: center;
}

.cardBox {
background-color: white;
margin: 1%;
border-radius: 10%;
box-shadow: 5px 10px 8px #888888;
}

@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
}